AIRFLOW_UID=50000
AWS_DEFAULT_REGION=your-aws-region
AWS_REGION= your-aws-region

ECS_CLUSTER=your-ecs-cluster-name
ECS_TASK_DEFINITION=YOUR_TASK_DEFINITION_NAME:YOUR_TASK_DEFINITION_VERSION

ECS_SUBNET_ID=subnet-id
ECS_SECURITY_GROUP_ID=security-group-id
AWS_PROFILE=default